body
{
	font-family: 'Raleway', sans-serif;
}
#bloc_page
{
	width: 80%;
    margin: auto;
}
#logo
{
	width: 90px;
}
h1, h2
{
    font-size: larger;
}
h3
{
	font-size: smaller;
}
p, span
{
	font-size: 15px;
}
a{
	text-decoration: none;
	color: black;
}
.gras/*Pour mettre certains mots en gras*/
{
	font-weight: bold;
}
#entete /*menu + logo*/
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav a
{
	text-decoration: none;
	color: #0065FC;
	font-weight: bold;
}
.acti:hover, #mrd:hover
{
	border-top: 2px  #0065FC solid;
	
}
nav
{
	display: flex;
}
ul
{
	display: flex;
	text-align: right;
	flex-wrap: wrap;
}
li
{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
#hebe
{
	display: flex;
}
#mrd, .acti, .sincr
{
	margin-right: 40px;
	padding-top: 10px;
}

#forme1/*bouton de recherche*/
{
    display: flex;
    margin-top: -1em;
}
#zone
{
	background: #f2f2f2;
	width: 40px;
	text-align: center;
	height: 40px;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
#localisation
{
	border: none;
	height: 40px;
	border-top: 1px #f2f2f2 solid;
	border-bottom: 1px #f2f2f2 solid;
	font-weight: bold;
	text-align: left;
	width: 160px;
}
#recherche
{
	background: #0065FC;
	color: white;
	border: none;
	height: 40px;
	width: 90px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#recherche2/*icone de recherche qui sera affichée sur mobile*/
{
	display: none;
}
#forme2/*Les filtres*/
{
	display: flex;
	align-items: center;
}
#filtres
{
	padding-bottom: 10px;
}
#icone1, #icone2, #icone3, #icone4
{
    background: #DEEBFF;
	height: 32px;
	width: 32px;
	font-size: small;
	color: #0065FC;
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: relative;
	left: 32px;
}
#economique
{
	height: 30px;
	width: 120px;
	border-top: 2px #f2f2f2 solid;
	border-bottom: 2px #f2f2f2 solid;
	border-right: 2px #f2f2f2 solid;
	border-radius: 50px;
	font-weight: bold;
	align-items: center;
	display: flex;
	justify-content: center;
	padding-left: 25px;
}
#famial
{
	height: 30px;
	width: 100px;
	border-top: 2px #f2f2f2 solid;
	border-bottom: 2px #f2f2f2 solid;
	border-right: 2px #f2f2f2 solid;
	border-radius: 50px;
	font-weight: bold;
	align-items: center;
	display: flex;
	justify-content: center;
	padding-left: 15px;
}
#romantique
{
	height: 30px;
	width: 125px;
	border-top: 2px #f2f2f2 solid;
	border-bottom: 2px #f2f2f2 solid;
	border-right: 2px #f2f2f2 solid;
	border-radius: 50px;
	font-weight: bold;
	align-items: center;
	display: flex;
	justify-content: center;
	padding-left: 25px;
}
#animaux-autorises
{
	height: 30px;
	width: 175px;
	border-top: 2px #f2f2f2 solid;
	border-bottom: 2px #f2f2f2 solid;
	border-right: 2px #f2f2f2 solid;
	border-radius: 50px;
	font-weight: bold;
	align-items: center;
	display: flex;
	justify-content: center;
	padding-left: 25px;
}
#filtres
{
	margin-right: -30px;
}
#economique:hover, #famial:hover, #animaux-autorises:hover, #romantique:hover/*changer l'apparence des filtres au survol de la sourie*/
{
	background: #0065FC;
}
#info
{
	display: flex;
	align-items: center;
}
#logoinfo
{
	height: 19px;
	width: 18px;
	font-size: xx-small;
	color: #0065FC;
	border-radius: 100%;
	border: 1px #f2f2f2 solid;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	margin-right: 5px;
}
article
{
	width: 65%;
	background: #F2F2F2;
	display: flex;
	border-radius: 15px;
}
#bloc_article
{
	width: 93%;
	margin: auto;
}
#hebergements
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.hebergement1
{
	background: white;
	width: 175px;
	height: 153px;
	border-radius: 15px;
	margin-bottom: 20px;
	box-shadow: 0px 1px 3px rgba(68, 35, 35, 0.3);
	min-width: 30%;
}
#image1
{
	background-image: url(marcus-loke-WQJvWU_HZFo-unsplash.jpg);
	background-position: center;
	width: 95%;
	height: 83px;
	background-size: 100%;
	margin: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
	top: 4px;
}
#image2
{
	background-image: url(fred-kleber-gTbaxaVLvsg-unsplash.jpg);
	background-position: center;
	width: 95%;
	height: 83px;
	background-size: 100%;
	margin: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
	top: 4px;
}
#image3
{
	background-image: url(reisetopia-B8WIgxA_PFU-unsplash.jpg);
	background-position: center;
	width: 95%;
	height: 83px;
	background-size: 100%;
	margin: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
	top: 4px;
}
#image4
{
	background-image: url(annie-spratt-Eg1qcIitAuA-unsplash.jpg);
	background-position: center;
	width: 95%;
	height: 83px;
	background-size: 100%;
	margin: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
	top: 4px;
}
#image5
{
	background-image: url(nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
	background-position: center;
	width: 95%;
	height: 83px;
	background-size: 100%;
	margin: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
	top: 4px;
}
#image6
{
	background-image: url(febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
	background-position: center;
	width: 95%;
	height: 83px;
	background-size: 100%;
	margin: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
	top: 4px;
}
.block
{
	padding-left: 15px;
	line-height: 4px;
}
.star1 /*Les etoiles de couleur bleu*/ 
{
	color: #0065FC;
	font-size: xx-small;
}
.star2 /*Les etoiles de couleur grise*/
{
	color: #cfcccc;
	font-size: xx-small;
}
aside
{
	width: 28%;
	background: #F2F2F2;
	display: flex;
	border-radius: 15px;
	justify-content: space-around;
}
#bloc_aside
{
	display: flex;
	flex-direction: column;
}
section
{
	display: flex;
	justify-content: space-between;
}

#photo1/*photos des hebergements contenus dans l aside*/
{
	background-image: url(images/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
	object-fit: cover;
	width: 93px;
	height: 105px;
	background-size: cover;
	background-position: center;
	margin-right: 30px;
	position: relative;
	left: 5px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
#photo2
{
	background-image: url(images/aw-creative-VGs8z60yT2c-unsplash.jpg);
	object-fit: cover;
	width: 93px;
	height: 105px;
	background-size: cover;
	background-position: center;
	margin-right: 30px;
	position: relative;
	left: 5px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
#photo3
{
	background-image: url(images/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
	object-fit: cover;
	width: 93px;
	height: 105px;
	background-size: cover;
	background-position: center;
	margin-right: 30px;
	position: relative;
	left: 5px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
#header-aside/* entête de l'aside, titre plus logo*/
{
	display: flex;
	justify-content: space-between;
}

.box /* conteneur: photo+text+etoile*/
{
	display: flex;
	background: white;
	margin-bottom: 20px;
	align-items: center;
	width: 263px;
	border-radius: 15px;
	box-shadow: 0px 1px 3px rgba(170, 167, 167, 0.3);	
}
.espace /*reduction de la haute des lignes entres les textes*/
{
	display: block;
	margin-top: -0.7em;
}
#picture1/*numerotation des images de la partie Activés à Marseille*/
{
	background-image: url(images/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
	width: auto;
	height: 270px;
	background-size: cover;
	object-fit: cover;
	background-position:center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#picture2-1
{
	background-image: url(images/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
	width: auto;
	height: 105px;
	background-size: cover;
	object-fit: cover;
	background-position:center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#picture2-2
{
	background-image: url(images/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
	width: auto;
	height: 75px;
	background-size: cover;
	object-fit: cover;
	background-position:top;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#picture3
{
	background-image: url(images/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
	width: auto;
	height: 270px;
	background-size: cover;
	object-fit: cover;
	background-position:center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#picture4-1
{
	background-image: url(images/florian-wehde-xW9e8gdotxI-unsplash.jpg);
	width: auto;
	height: 90px;
	background-size: cover;
	object-fit: cover;
	background-position:center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#picture4-2
{
	background-image: url(images/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
	width: auto;
	height: 90px;
	background-size: cover;
	object-fit: cover;
	background-position:center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#conteneur
{
	display: flex;
	justify-content: space-between;
}
.conteneur2
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.grand-block, .petit-block
{
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	border-radius: 10px;
}
.grand-block, .conteneur2
{
	min-width: 20%;
}
.petit-block1
{
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	border-radius: 10px;
}
.petit-block2
{
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
	border-radius: 10px;
}
.texte-conteneur
{
	font-weight: bold;
	margin-left: 10px;
}
footer
{
	background: #f2f2f2;
	display: flex;
	justify-content: space-around;
	width: 85%;
	height: 170px;
	margin: auto;
	align-items: center;
}

@media all and (max-width: 1400px)/*Sur tous les écrans, quand la largeur de la fenêtre fait au maximum 1400px */
{
	aside{
		width: auto;
	}
	#conteneur{
		width: auto;
	}
}
@media all and (max-width: 1150px) /*Sur tous les écrans, quand la largeur de la fenêtre fait au maximum 1150px */
{
	section{
		display: flex;
		flex-direction: column-reverse;
	justify-content: space-between;
	}
	article{
		width: auto;
		margin-top: 25px;
	}
	footer{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media all and (max-width: 700px) /*Sur tous les écrans, quand la largeur de la fenêtre fait au maximum 900px */
{
	#recherche, #forme1{
		width: auto;
	}
	.acti:hover, #mrd:hover
	{
		border-top: none;
	}
	#forme1
	{
		justify-content: center;
	}
	
	article
	{
		background: white;
		width: 100%;
	}
	#filtres
	{
		margin-bottom: -20px;
	}
	.hebergement1{
		width: 100%;
	}
	#image1, #image2, #image3, #image4, #image5, #image6
	{
		width: 95%;
	}
	aside{
		width: 100%;
	}
	#bloc_aside{
		width: auto;
		
	}
	#bloc_article, #bloc_page
	{
		width: 100%;
		margin: auto;
	}
	#recherche
	{
		display: none;
	}
	#recherche2
	{
		display: flex;
		align-items: center;
		justify-content: center;
		background: #0065FC;
	    color: white;
	    border: none;
	    height: 40px;
	    width: 50px;
		border-radius: 10px;
		display: ;
	}
	#localisation
	{
		width: 200px;
	}
	#forme2{
		display: flex;
		flex-wrap: wrap;
	}
	#filtre1, #filtre2, #filtre3, #filtre4{
		margin-bottom: 10px;
	}
	#filtres{
		width: 100%;
	}
	#conteneur{
		display: flex;
		flex-direction: column;
	}
	.grand-block, .conteneur2, .petit-block1, .petit-block{
		width: 100%;
		margin-bottom: 20px;
	}
	#picture1, #picture2-1, #picture2-2, #picture3, #picture4-1, #picture4-2{
		width: 100%;
		height: 120px;
	}
	footer{
		flex-direction: column;
		height: auto;
		width: 100%;
	}
	#gauche1{
		position: relative;
		right: 30px;
	}
	#gauche2{
		position: relative;
		right: 50px;

	}
	#entete
	{
		height: 120px;
		align-items: center;
	}
	#hebe
	{
		display: flex;
		align-self: flex-end;
		width: 100%;
	}
	#mrd
	{
		margin-right: 20px;
		margin-left: -90px;
		padding-left: 30px;
		padding-right: 10px;
		padding-bottom: 5px;
		width: 50%;
		border-bottom: 2px #0065FC solid;
	}
	.acti
	{
		margin-left: -20px;
		padding-left: 50px;
		padding-right: 50px;
		width: 15%;
		border-bottom: 2px #f2f2f2 solid;
	}
	nav
	{
		height: 120px;
		align-items: center;
	}
	.sincr
	{
		margin-left: -115px;
	}
}